{% extends "base.html" %}
{% block content %}
    <div class="heading">
    <br>
    </div><br>
    
    </div>
    <div class="box" class = "box_heading">   
    <form method="post" class="main_heading">
        <section>
            <label for="college_major" style="font-size: 32px;">Find College Major</label><br><br>

            <h3 class="major">Enter Major:</h3> <input list = "college_majors" type="text" name="college_major" id="college_major" placeholder="Computer Science">
            <datalist id="college_majors" >
                {% for record in majors %}
                <option value = "{{record}}"> </option>
                    {% endfor %}
                </datalist>
                <br>
            <input type="submit" id="college_major" value="Search">
        </section>
    </form>
    </div>

    <div class="box">
        <div class="columns is-multiline">
                <div class="column is-half">
                    <section class="section_one">
                        <h1 class="title">About this application</h1>
                        <p class="subtitle">This is a comprehensive application allowing prospective college students, workers, and others find critical information about their futures by allowing them to sort fields based on factors such as salaries, level of education, and more! We are better than the competitors because there aren't any!<br><br></p> 

                        <p>Here is the main source used for this project:</p>
                        <a href="https://ncses.nsf.gov/surveys/national-survey-college-graduates/2023#data">
                            <blockquote cite="https://ncses.nsf.gov/surveys/national-survey-college-graduates/2023#data">The NSCG is a biennial survey that provides data on the characteristics of the nation's college graduates, with a focus on those in the science and engineering workforce.</blockquote>
                        </a>
                    </section>
                </div> 

                <div class="column is-half">
                    <section class="section_two">
                        <h1 class="title" style="text-align: center;">Guide: How to use this application</h1>
                        <p class="subtitle" style="text-align: center;">Simply enter in a major into the box. You will soon be able to add other factors, such as salary. Then, click the search box and you will see results. Enjoy! <br><br> In today's world it is very unpredictable on how viable a certain major is. With our tool, you can effectively input your major of choice and get some interesting statistics about it including the amount of people in each major and the amount employed. You will soon be able to input the salary amount too as this site is a <strong> work in progress</strong>.</p>
                        <br>
                    </section>
                </div>
            
        </div>
    </div>

    <section class="section_three">
        <div class="column">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </section>

    
<footer>
    <strong>This site was made by Akshay and Daniel as part of <a href="https://www.carleton.edu/summer/pre-college/" target="_blank">Carleton's SLAI Program!</a></strong> 
</footer>
    

{% endblock content %}